#box {
  width: 50%;
  margin: auto;
  background-color: bisque;
}

.back {
  background-color: whitesmoke;
  margin-top: 3%;
}

.enter {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.tap {
  text-align: center;
  margin: auto;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

.enter-here {
  width: 50% !important;
  margin: auto;
}

/* 
@media (max-width: 480px) {
  body {
    background: #f95e8a;
  }

  .input-group-addon,
  .input-group-btn,
  .input-group,
  .form-control,
  .input-group,
  .mb-3,
  .enter-here,
  .input-group-prepend,
  .input-group-text {
    display: block;
    margin-bottom: 10px;
    clear: both;
  }

  .input-group {
    display: block;
  }
}
*/
